In [24]:
import numpy as np
import pandas as pd
import requests
import json

In [2]:
unclean_data = pd.read_csv("extractedData.csv")
unclean_data.head()

,sunroof,alloywheels,aircondition,nav,bluetooth,pushstart,parkingassist,cruisecontrol,trailerhitch,url,...,colour,body,doors,seating,transmission,fuel,km,description,carfax,vin
0,1,1,1,0,0,0,0,1,0,https://www.kijiji.ca/v-cars-trucks/city-of-to...,...,Grey,"SUV, Crossover",NaN,NaN,Automatic,Gasoline,"384,900",3rd Gen Toyota 4RunnerRunning strong at 385k. ...,NaN,NaN
1,1,1,1,0,0,0,0,1,0,https://www.kijiji.ca/v-cars-trucks/city-of-to...,...,Blue,Wagon,5,5,Automatic,Gasoline,"239,000","Subaru Outback 2005 2.5, 170 hp. With 239000 k...",NaN,NaN
2,0,1,1,0,0,1,0,0,0,https://www.kijiji.ca/v-cars-trucks/city-of-to...,...,Grey,Sedan,4,5,Manual,NaN,"28,200",2008 Mitsubishi Lancer Evolution X GSR\r\nPhan...,NaN,NaN
3,1,1,1,0,0,0,1,1,1,https://www.kijiji.ca/v-cars-trucks/city-of-to...,...,Red,Other,2,2,Manual,Gasoline,399,Certified International Flatbed Truck- Low km!...,NaN,NaN
4,0,0,1,0,1,1,0,0,0,https://www.kijiji.ca/v-cars-trucks/city-of-to...,...,Silver,Sedan,4,5,Automatic,Gasoline,"66,000","10,900 or best offer\r\nMazda3 CX in amazing c...",NaN,NaN

In [3]:
unclean_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4460 entries, 0 to 4459
Data columns (total 27 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   sunroof        4460 non-null   int64
 1   alloywheels    4460 non-null   int64
 2   aircondition   4460 non-null   int64
 3   nav            4460 non-null   int64
 4   bluetooth      4460 non-null   int64
 5   pushstart      4460 non-null   int64
 6   parkingassist  4460 non-null   int64
 7   cruisecontrol  4460 non-null   int64
 8   trailerhitch   4460 non-null   int64
 9   url            4460 non-null   object
 10  title          4449 non-null   object
 11  price          4064 non-null   object
 12  condition      4449 non-null   object
 13  year           4449 non-null   float64
 14  make           4449 non-null   object
 15  model          4449 non-null   object
 16  trim           2196 non-null   object
 17  colour         3709 non-null   object
 18  body           4449 non-null   object
 19  doors          3614 non-null   object
 20  seating        3318 non-null   object
 21  transmission   3984 non-null   object
 22  fuel           3183 non-null   object
 23  km             4429 non-null   object
 24  description    4449 non-null   object
 25  carfax         951 non-null    object
 26  vin            951 non-null    object
dtypes: float64(1), int64(9), object(17)
memory usage: 940.9+ KB

In [4]:
unclean_data = unclean_data.drop_duplicates().dropna(how='all',subset=['price']).dropna(subset=['km'])
unclean_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3593 entries, 0 to 4459
Data columns (total 27 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   sunroof        3593 non-null   int64
 1   alloywheels    3593 non-null   int64
 2   aircondition   3593 non-null   int64
 3   nav            3593 non-null   int64
 4   bluetooth      3593 non-null   int64
 5   pushstart      3593 non-null   int64
 6   parkingassist  3593 non-null   int64
 7   cruisecontrol  3593 non-null   int64
 8   trailerhitch   3593 non-null   int64
 9   url            3593 non-null   object
 10  title          3593 non-null   object
 11  price          3593 non-null   object
 12  condition      3593 non-null   object
 13  year           3593 non-null   float64
 14  make           3593 non-null   object
 15  model          3593 non-null   object
 16  trim           1787 non-null   object
 17  colour         3049 non-null   object
 18  body           3593 non-null   object
 19  doors          2983 non-null   object
 20  seating        2758 non-null   object
 21  transmission   3260 non-null   object
 22  fuel           2583 non-null   object
 23  km             3593 non-null   object
 24  description    3593 non-null   object
 25  carfax         816 non-null    object
 26  vin            816 non-null    object
dtypes: float64(1), int64(9), object(17)
memory usage: 786.0+ KB

In [5]:
unclean_data.price = unclean_data.price.apply(lambda x: np.float64(x.replace("$","").replace(",","")))
unclean_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3593 entries, 0 to 4459
Data columns (total 27 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   sunroof        3593 non-null   int64
 1   alloywheels    3593 non-null   int64
 2   aircondition   3593 non-null   int64
 3   nav            3593 non-null   int64
 4   bluetooth      3593 non-null   int64
 5   pushstart      3593 non-null   int64
 6   parkingassist  3593 non-null   int64
 7   cruisecontrol  3593 non-null   int64
 8   trailerhitch   3593 non-null   int64
 9   url            3593 non-null   object
 10  title          3593 non-null   object
 11  price          3593 non-null   float64
 12  condition      3593 non-null   object
 13  year           3593 non-null   float64
 14  make           3593 non-null   object
 15  model          3593 non-null   object
 16  trim           1787 non-null   object
 17  colour         3049 non-null   object
 18  body           3593 non-null   object
 19  doors          2983 non-null   object
 20  seating        2758 non-null   object
 21  transmission   3260 non-null   object
 22  fuel           2583 non-null   object
 23  km             3593 non-null   object
 24  description    3593 non-null   object
 25  carfax         816 non-null    object
 26  vin            816 non-null    object
dtypes: float64(2), int64(9), object(16)
memory usage: 786.0+ KB

In [6]:
pd.set_option('display.max_colwidth',None)
other_model_make = unclean_data.loc[(unclean_data.make == "Other")]
other_model_make[['make','model','title','url']]

,make,model,title,url
280,Other,Other,CA$H FOR SCRAP CARS & FREE TOWING 6479798504,https://www.kijiji.ca/v-cars-trucks/city-of-toronto/ca-h-for-scrap-cars-free-towing-6479798504/1503323909
314,Other,Other,Top cash paid for your used | unwanted | salvage | scrap vehicle,https://www.kijiji.ca/v-cars-trucks/city-of-toronto/top-cash-paid-for-your-used-unwanted-salvage-scrap-vehicle/1501949258
412,Other,Other,Quality seat covers,https://www.kijiji.ca/v-cars-trucks/city-of-toronto/quality-seat-covers/1503259527
1036,Other,Other,Food Truck For Sale | Call 5197218110,https://www.kijiji.ca/v-cars-trucks/city-of-toronto/food-truck-for-sale-call-5197218110/1486006634
2075,Other,Other,Two Coach bus sale for parts,https://www.kijiji.ca/v-cars-trucks/city-of-toronto/two-coach-bus-sale-for-parts/1501810984
3032,Other,Other,Motorcycle ATV Snowmobile Jet Ski Utility Hydraulic Lift Deck BK,https://www.kijiji.ca/v-cars-trucks/city-of-toronto/motorcycle-atv-snowmobile-jet-ski-utility-hydraulic-lift-deck-bk/1367338659
3135,Other,Other,1984 Innocenti Mini De Tomaso Turbo,https://www.kijiji.ca/v-cars-trucks/city-of-toronto/1984-innocenti-mini-de-tomaso-turbo/1500082130
3309,Other,Other,Slingshot SL,https://www.kijiji.ca/v-cars-trucks/city-of-toronto/slingshot-sl/1499729525
3424,Other,Other,MOTUL & LIQUI MOLY 5l,https://www.kijiji.ca/v-cars-trucks/city-of-toronto/motul-liqui-moly-5l/1499500236
3648,Other,Other,Work Truck for Mobile Mechanic or Mobile Repair Shop,https://www.kijiji.ca/v-cars-trucks/city-of-toronto/work-truck-for-mobile-mechanic-or-mobile-repair-shop/1470626639
4020,Other,Other,Db 500 Dustless Blaster,https://www.kijiji.ca/v-cars-trucks/city-of-toronto/db-500-dustless-blaster/1498078418
4094,Other,Other,05 hino certified dump truck,https://www.kijiji.ca/v-cars-trucks/city-of-toronto/05-hino-certified-dump-truck/1497812386
4312,Other,Other,Looking to buy cheap smart car,https://www.kijiji.ca/v-cars-trucks/city-of-toronto/looking-to-buy-cheap-smart-car/1497140354
4321,Other,Other,2005 Malibu Car For Sale,https://www.kijiji.ca/v-cars-trucks/city-of-toronto/2005-malibu-car-for-sale/1497093482
4412,Other,Other,International Terrastar Caddy Vac Duct Cleaning Truck / Vacuum,https://www.kijiji.ca/v-cars-trucks/city-of-toronto/international-terrastar-caddy-vac-duct-cleaning-truck-vacuum/1479188874

In [7]:
#pd.reset_option('max_columns')
#pd.reset_option('max_rows')
#pd.reset_option('display.max_colwidth')
pd.reset_option('display.max_colwidth')
unclean_data = unclean_data.drop([280,314,412,1036,2075,3032,3424,3648,4020,4094,4312,4412])
unclean_data.shape

(3581, 27)

In [8]:
other_model_make = unclean_data.loc[(unclean_data.make == "Other")]
other_model_make[['make','model','title','url']]

,make,model,title,url
3135,Other,Other,1984 Innocenti Mini De Tomaso Turbo,https://www.kijiji.ca/v-cars-trucks/city-of-to...
3309,Other,Other,Slingshot SL,https://www.kijiji.ca/v-cars-trucks/city-of-to...
4321,Other,Other,2005 Malibu Car For Sale,https://www.kijiji.ca/v-cars-trucks/city-of-to...

In [9]:
unclean_data.loc[3135,'make'] = "Innocenti"
unclean_data.loc[3309,'make'] = "Slingshot"
unclean_data.loc[4321,'make'] = "Chevrolet"

unclean_data.loc[3135,'model'] = "Tomaso Turbo"
unclean_data.loc[3309,'model'] = "SL"
unclean_data.loc[4321,'model'] = "Malibu"

In [10]:
unclean_data.loc[[3135,3309,4321]][['make','model']]

           make         model
3135  Innocenti  Tomaso Turbo
3309  Slingshot            SL
4321  Chevrolet        Malibu

In [46]:
# https://www.kijiji.ca/p-select-attribute.json?categoryId=174&rootAttribute=carmake_s&attributeId=carmodel_s&optionPath={make}
# Use this to fill in the other values
response = requests.get(" https://www.kijiji.ca/p-select-attribute.json?categoryId=174&rootAttribute=carmake_s&attributeId=carmodel_s&optionPath={}".format("honda"))
data = json.loads(response.text)

possible_models = list(map(lambda x: x['value'], data[0]['items']))
possible_models.remove('- Select -')
possible_models

['Accord',
 'Accord Crosstour',
 'Civic',
 'CR-V',
 'CR-Z',
 'Crosstour',
 'CRX',
 'Del Sol',
 'Element',
 'Fit',
 'HR-V',
 'Insight',
 'Odyssey',
 'Passport',
 'Pilot',
 'Prelude',
 'Ridgeline',
 'S2000',
 'Other']